---
import { Image } from "astro:assets";
import logo from "../assets/logo.svg";
import facebook from "../assets/icon-facebook.svg";
import twitter from "../assets/icon-twitter.svg";
import pinterest from "../assets/icon-pinterest.svg";
import instagram from "../assets/icon-instagram.svg";
import HoverLink from "./HoverLink.astro";

const links = {
  about: "/about",
  careers: "/careers",
  events: "/events",
  products: "/products",
  support: "/support",
};
const social = {
  facebook: facebook,
  twitter: twitter,
  pinterest: pinterest,
  instagram: instagram,
};
---

<footer class="font-alata bg-black p-14 md:px-20 md:py-11">
  <div
    class="max-w-[1110px] mx-auto flex flex-col md:flex-row md:justify-between items-center"
  >
    <div class="flex flex-col max-md:gap-10 md:justify-between md:h-[73px]">
      <Image class="h-6 w-36" src={logo} alt="loopstudios" />
      <ul
        class="flex flex-col md:flex-row md:justify-between gap-4 xl:gap-8 items-center capitalize text-white text-6"
      >
        {
          Object.entries(links).map(([k, v]) => (
            <li>
              <HoverLink href={v}>{k}</HoverLink>
            </li>
          ))
        }
      </ul>
    </div>
    <div
      class="max-md:mt-10 md:flex md:flex-col md:justify-between md:h-[73px] md:items-end"
    >
      <ul class="flex gap-4 items-center justify-center">
        {
          Object.entries(social).map(([k, v]) => (
            <li>
              <a href={`https://www.${k}.com`}>
                <Image src={v} alt={k} />
              </a>
            </li>
          ))
        }
      </ul>
      <small class="inline-block text-6 text-white/50 max-md:mt-4"
        >© 2021 Loopstudios. All rights reserved.</small
      >
    </div>
  </div>
</footer>
