---
import { Image } from "astro:assets";
import logo from "../assets/logo.svg";
import menu from "../assets/icon-hamburger.svg";
import close from "../assets/icon-close.svg";
import HoverLink from "./HoverLink.astro";
import { getImage } from "astro:assets";
import mobileBg from "../assets/mobile/image-hero.jpg";
import desktopBg from "../assets/desktop/image-hero.jpg";

const heroMobile = await getImage({
  src: mobileBg,
  format: "webp",
});
const heroDesktop = await getImage({
  src: desktopBg,
  format: "webp",
});
const heroMobileUrl = `url(${heroMobile.src})`;
const heroDesktopUrl = `url(${heroDesktop.src})`;
---

<style define:vars={{ heroMobileUrl, heroDesktopUrl }}>
  .hero-bg {
    background-image: var(--heroMobileUrl);
    @media (min-width: 768px) {
      background-color: rgba(0, 0, 0, 0.4);
      background-blend-mode: darken;
      background-image: var(--heroDesktopUrl);
    }
  }
</style>
<header
  class="hero-bg bg-center bg-cover px-6 py-10 h-162.5 md:px-20 md:py-16 xl:px-41.25"
>
  <div class="h-95.75 md:h-110 flex flex-col justify-between">
    <nav class="flex justify-between items-center">
      <a href="#">
        <Image class="h-5.5 w-36 md:w-48 md:h-8" src={logo} alt="Home" />
      </a>
      <button id="open-nav-button" class="xl:hidden">
        <Image
          class="h-4 w-6 md:w-8 md:h-[1.333125rem]"
          src={menu}
          alt="Navigation Menu"
        />
      </button>
      <ul
        class="text-6 font-alata gap-8 text-white capitalize hidden xl:flex xl:self-start"
      >
        <li>
          <HoverLink href="#">about</HoverLink>
        </li>
        <li>
          <HoverLink href="#">careers</HoverLink>
        </li>
        <li>
          <HoverLink href="#">events</HoverLink>
        </li>
        <li>
          <HoverLink href="#">products</HoverLink>
        </li>
        <li>
          <HoverLink href="#">support</HoverLink>
        </li>
      </ul>
    </nav>
    <div
      class="py-4.5 px-6 max-w-81.75 md:p-10 xl:py-10.5 md:max-w-162.5 border-white border-2 self-start"
    >
      <h1 class="text-white text-3 uppercase md:text-1">
        Immersive experiences that deliver
      </h1>
    </div>
  </div>
  <dialog
    id="nav-menu"
    class="xl:hidden starting:opacity-0 backdrop:transition-all backdrop:duration-300 backdrop:ease-in backdrop:opacity-100 backdrop:starting:opacity-0 backdrop:bg-black opacity-100 bg-transparent w-screen pb-2 pt-10 md:pt-16 px-6 md:px-20 max-w-full"
  >
    <div class="flex flex-col justify-between h-100 md:h-93.75">
      <div class="flex justify-between">
        <a href="#">
          <Image class="h-5.5 w-36 md:w-48 md:h-8" src={logo} alt="Home" />
        </a>
        <button id="close-nav-button" autofocus
          ><Image
            class="w-[1.14875rem] h-[1.14875rem] md:w-[1.531875rem] md:h-[1.531875rem]"
            src={close}
            alt="close nav menu"
          />
        </button>
      </div>
      <menu
        class="uppercase text-white text-5 space-y-6 starting:opacity-0 opacity-100 transition-all duration-300 ease-in"
      >
        <li><a class="hover:font-bold" href="#">about</a></li>
        <li><a class="hover:font-bold" href="#">careers</a></li>
        <li><a class="hover:font-bold" href="#">events</a></li>
        <li><a class="hover:font-bold" href="#">products</a></li>
        <li><a class="hover:font-bold" href="#">support</a></li>
      </menu>
    </div>
  </dialog>
  <script>
    const menu = document.getElementById("nav-menu") as HTMLDialogElement;
    const buttonClose = document.getElementById(
      "close-nav-button"
    ) as HTMLButtonElement;
    const buttonOpen = document.getElementById(
      "open-nav-button"
    ) as HTMLButtonElement;
    buttonOpen.addEventListener("click", () => {
      menu.showModal();
    });
    buttonClose.addEventListener("click", () => {
      menu.close();
    });
  </script>
</header>
